.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  right: 380px;
  max-width: 500px;
  margin: 60px auto; /* centré horizontalement + espace en haut */
  padding: 30px;
  font-family: Arial, sans-serif;
}

h2 {
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

.filters {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center; /* centrer les filtres */
  position: relative;
  max-width: 1200px;
 

}

.filters label {
  width: 35%;
  font-weight: bold;
}

.filters select,
.filters input {
  font-size: 13px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.filters select{
  position: relative;
  width: 38%;
  
}
.filters input{
  position: relative;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

th, td {
  padding: 16px;
  border: 1px solid #e0e0e0;
  text-align: left;
  font-size: 15px;
}

th {
  background-color: #f8f8f8;
  color: #333;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

.view-btn {
  padding: 6px 14px;
  background: #2c3e50;
    color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-btn:hover {
  background-color: #2980b9;
}

.edit-btn {
  padding: 6px 14px;
  background: #2980b9;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.edit-btn:hover {
  background-color: #7de6ac;
}

.footer-note {
  position: relative;
  top: 120px;
  right: 80px;
  margin-top: 20px;
  font-style: italic;
  color: #888;
  text-align: center;
}

.add-btn{
  position: relative;
  top: 40px;
  display: inline-block;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add-btn:hover {
  background-color: #5e849d;
}

table th:nth-child(1),
table td:nth-child(1) { /* Titres */
  width: 25%;
}

table th:nth-child(3),
table td:nth-child(3) { /* Description */
  width: 30%;
}

table th:nth-child(4),
table td:nth-child(4),  /* Début */
table th:nth-child(5),
table td:nth-child(5) { /* Fin */
  width: 15%;
}
