/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Poppins', sans-serif;
}

/* Pour tous les snackbars Angular Material */
.mat-mdc-snack-bar-container {
  background: #222 !important;
  color: #fff !important;
  opacity: 1 !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

/* Succès */
.snackbar-success {
  background: #43a047 !important; /* vert */
  color: #fff !important;
}

/* Erreur */
.snackbar-error {
  background: #e53935 !important; /* rouge */
  color: #fff !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
