/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Poppins', sans-serif;
}



// styles.scss (global)
.mat-mdc-snack-bar-container.snackbar-success {
  background: #43a047 !important; /* Vert succès */
  color: #fff !important;
}
.mat-mdc-snack-bar-container.snackbar-error {
  background: #e53935 !important; /* Rouge erreur */
  color: #fff !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
